
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
    height: 100%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.site{
    width: 100%;
    max-width: 1440px;
    position: relative;
}
:root{
    --titleText: #000;
    --titleWeight: 700;
    --text: rgba(0, 0, 0, 0.8);
    --textWeight: 400;
    --bgcolor: #fff;
    
}
/* Yuqoridagi asos prapertylarni to'liq tushunib oling */

/* Sunnat start */

/* Sunnat end */
/* Husniddin start */

/* Husniddin end */
/* Azam start */

/* Azam end */
/* Abbos start */

/* Abbos end */
/* Dilnoza start */

/* Dilnoza end */
@media screen and (min-width: 1366px) {
    .site{
        max-width: 1500px;
        margin: auto;
        
    }
   
    
}
@media screen and (max-width: 1024px) {
    .site{
        max-width: 1024px;
 
    }
 
    
}
@media screen and (max-width: 768px) {
    .site{
        max-width: 768px;
       
    }
    
    
}
@media screen and (max-width: 425px) {
    .site{
        max-width: 425px;
       
    }
    
}
@media screen and (max-width: 375px) {
    .site{
        max-width: 375px;
       
    }
    
}
@media screen and (max-width: 320px) {
    .site{
        max-width: 320px;
        
    }
    
}

